<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Walking Dead{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/js/kickstart.js"></script> <!-- KICKSTART -->

	<link rel="stylesheet" href="/static/css/kickstart.css" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" type="text/css" media="all" href="/static/walkingdead.css" /> <!-- GPL2+ Theme from thewalkingdead.com -->

    <link rel="stylesheet" type="text/css" media="all" href="/static/custom.css" /> <!-- some customization -->

</head>
<body class="custom-background">

<div class="col_3"></div><div class="col_6 visible">{% block content %}{% endblock %}</div><div class="col_3"></div>

</body>
</html>
