{% extends "base.tmpl" %}

{% block content %}
{% if taken %}
<script>
	var bonuscode =  "{{ decision.code|safe }}"
    function pushcode() {
    	if($("#BonusAnswer").length) {
	        $("#BonusAnswer").val(bonuscode);
	        $("#BonusAnswer").parent().submit();
        }
        else
         {
	        $("#Answer").val(bonuscode);
	        $("#Answer").parent().submit();
        }
    }
    $(document).ready(pushcode);
</script>
{% endif %}
<p class="centered"><img class="caption" src="{% if is_ajax %}{{ site_root }}{% endif %}{{ decision.image }}" alt=''/></p>
<p>{{ decision.text_after|safe }}</p>

<p>Вы получаете {{ decision.reward }} {% if reward_type %}бонуса{% else %}штрафа{% endif %}.</p>
<p>Бонусный код: {{ decision.code|safe }}<p>

{% if not is_ajax %}<p><a href="/{{token}}"><button class=" square"><i class="icon-caret-left"></i> Назад</button></a></p>{% endif %}{% endblock %}
