{% extends "base.tmpl" %}

{% block content %}
<p class="centered"><img class="caption" src="/static/images/quest/TheWalkingDead_logo.png" alt=''/></p>
<h2>Данный сайт является частью игры &laquo;The Walking Dead&raquo;, проводимой на&nbsp;движке Encounter, домен kms.en.cx.</h2>
<ul><li>Это первая версия веб-приложения, расширяющего возможности движка Encounter, а&nbsp;именно&nbsp;&mdash; добавляющего нелинейный интерактивный сюжет. В&nbsp;данной игре вся нелинейность заключается в&nbsp;виртуальных квестовых событиях, предоставляющих несколько вариантов действий. В&nbsp;зависимости от&nbsp;выбранного варианта команда будет получать различные бонусы и&nbsp;штрафы.</li>
<li>Технически это реализовано следующим образом: перед каждым уровнем в&nbsp;движке Encounter вставляется уровень-заглушка с&nbsp;автопереходом 10&nbsp;секунд. При прохождении этого уровня команде начисляется штраф в&nbsp;размере 20&nbsp;минут.</li>
<li>В&nbsp;следующем, &laquo;игровом&raquo; уровне, помимо задания командам будет дана ссылка на&nbsp;квестовое событие, за&nbsp;прохождение которого команде будет начислен определенный бонус. Если исход события неблагоприятный, то&nbsp;этот бонус будет меньше 20&nbsp;минут и&nbsp;по&nbsp;итогу уровня команда окажется в&nbsp;минусе. Если благоприятный&nbsp;&mdash; то&nbsp;наоборот, команда получит больше 20&nbsp;минут бонуса и&nbsp;окажется в&nbsp;плюсе.</li>
<li>Структура самого квестового события очень проста: описание события и&nbsp;три варианта действий. При выборе действия вам выдается его результат, размер бонуса/штрафа и&nbsp;код, который необходимо будет ввести в&nbsp;движок.</li>
<li>Размер бонуса/штрафа указывается с&nbsp;учетом обязательного штрафа на&nbsp;уровне-заглушке (т.е. если указано, что по&nbsp;итогам вы&nbsp;получаете штраф 8&nbsp;минут, то&nbsp;введя код в&nbsp;движок вы&nbsp;получите 12&nbsp;минут бонуса).</li>
<li>Выбрать можно только один вариант действия. Ссылки на&nbsp;квестовое событие уникальны для каждого уровня и&nbsp;каждой команды, поэтому выбрать несколько вариантов не&nbsp;получится.</li>
<li><a href='/a09a654c0d777fbd7dbb466d58d0a654'>Пример квестового события (в&nbsp;целях ознакомления запрет на&nbsp;выбор только одного варианта выключен): Тыц.</a></li></ul>
<hr style="alt1">
<h2>Копирайты:</h2>
<ul><li>Быдлокод и&nbsp;тексты написаны <a href='http://kms.en.cx/UserDetails.aspx?uid=72139'>strangeman&rsquo;ом.</a></li>
<li>Дизайн и&nbsp;верстка выполнены с&nbsp;помощью <a href='http://www.99lime.com/elements/'>HTML KickStart</a> и&nbsp;CSS темы The Walking Dead by&nbsp;Xivic.</li>
<li>Все картинки, а&nbsp;также сама марка The Walking Dead принадлежат <a href='http://www.skybound.com/'>Skybound LLC</a> (и&nbsp;используются без их&nbsp;разрешения :-/). Впрочем, я&nbsp;им&nbsp;честно написал письмо, но&nbsp;мне на&nbsp;него не&nbsp;ответили.</li>
<li>Powered by&nbsp;<a href='https://www.djangoproject.com/'>Django</a>.</li></ul>
{% endblock %}
