{% extends "base.tmpl" %}

{% block content %}
<p align="center"><img class="caption" src="/static/images/quest/trouble_1.jpg" /></p>
<h1 align="center">404. Боюсь, вы зашли не туда.</h1>


{% endblock %}

