{% extends "base.tmpl" %}

{% block content %}
<p class="centered"><img class="caption" src="/static/images/quest/trouble_1.jpg" alt=''/></p>
<p class="p404">404. Боюсь, вы зашли не туда.</p>


{% endblock %}
