{% extends "base.tmpl" %}
{% block content %}

<script>
    var quest_hash = "809a781426e275841dc25aaba2a2d6d3";
    function quest(hash) {
        $('#data').html('&nbsp;').load('/q/' + hash);
    }
    function main() {
        //$("#start").click( function() { quest(quest_hash) });
        quest(quest_hash);
    }
    $(document).ready(main);
</script>
<div id='data'></div>
{% endblock %}
